* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url('img/bg.jpg'); /* Ganti 'gambar.jpg' dengan path/URL gambar Anda */
  background-size: cover; /* Untuk menyesuaikan ukuran gambar dengan ukuran elemen */
  background-repeat: no-repeat; /* Agar gambar tidak diulang */
}
.wrapper {
  box-sizing: content-box;
  width: 26.87em;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.6em;
}
.stats-container {
  text-align: right;
  margin-bottom: 1.2em;
}
.stats-container span {
  font-weight: 600;
}
.card-container {
  position: relative;
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
  margin-top: 0.5em; /* Margin for the top */
  margin-bottom: 0.5em; /* Margin for the bottom */

}
.card-before img,
.card-after img {
  width: 80px;
  height: 112.8125px;
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}
.card-before {
  background-image: url('img/logo.svg'); /* Ganti 'gambar.jpg' dengan path/URL gambar Anda */
  background-size: cover; /* Untuk menyesuaikan ukuran gambar dengan ukuran elemen */
  background-repeat: no-repeat; /* Agar gambar tidak diulang */
  font-size: 2.8em; /* Ukuran font */
  font-weight: 600; /* Ketebalan font (bold) */
}
.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}
.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}
.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url('img/bg.jpg'); /* Ganti 'gambar.jpg' dengan path/URL gambar Anda */
  background-size: cover; /* Untuk menyesuaikan ukuran gambar dengan ukuran elemen */
  background-repeat: no-repeat; /* Agar gambar tidak diulang */
  top: 0;
}
button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}
#stop {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}
#start {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}
#otherg {
  font-size: 1.1em;
  display: block;
  margin: 0.2em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}
.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}
.hide {
  display: none;
}
#result {
  text-align: center;
}
#result h2 {
  font-size: 2.5em;
}
#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}
/* Contoh Media Query untuk perangkat seluler dengan lebar maksimum 768px */
@media only screen and (max-width: 768px) {
  /* Atur tata letak atau ukuran elemen yang sesuai */
  .wrapper {
    width: 90%; /* Misalnya, mengurangi lebar wrapper agar cocok dengan layar seluler */
    padding: 1.5em; /* Mengurangi padding agar sesuai dengan ukuran layar yang lebih kecil */
  }
  /* Atur ukuran font atau margin untuk menyesuaikan dengan tampilan seluler */
  .card-before {
    font-size: 2em;
  }
}
/* Untuk membuat konten lebih responsif di perangkat seluler */
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 90%; /* Mengurangi lebar wrapper agar cocok dengan layar seluler */
    padding: 1.5em; /* Mengurangi padding agar sesuai dengan ukuran layar yang lebih kecil */
  }
  .card-container {
    width: 100%; /* Mengubah lebar kartu agar mengisi lebar layar */
  }
  .card-container.flipped .card-before, .card-container.flipped .card-after {
    width: 100%; /* Mengatur lebar kartu yang dibalik agar mengisi lebar layar */
  }
  .card-before img,
  .card-after img {
    width: 60px; /* Mengurangi ukuran gambar agar sesuai dengan layar seluler */
    height: auto; /* Mengatur tinggi gambar agar sesuai proporsinya */
  }
}

