* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url('img/bgpajama.png'); /* Ganti 'gambar.jpg' dengan path/URL gambar Anda */
  background-size: cover; /* Untuk menyesuaikan ukuran gambar dengan ukuran elemen */
  background-position: center center;
  background-repeat: no-repeat; /* Agar gambar tidak diulang */
}
    select {
      padding: 5px;
      font-size: 16px;
    }
.wrapper {
  box-sizing: content-box;
  width: 20em;
  height: 29em;
  padding: 2.5em 3em;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  padding-bottom: 6em;
}
.game-container {
  position: relative;
  width: 100%;
  height: 80%;
  display: grid;
  gap: 0.6em;
  margin: 0 auto;
}
.stats-container {
  text-align: right;
  margin-bottom: 1.2em;
}
.stats-container span {
  font-weight: 600;
}
.card-container {
  position: relative;
  width: 4.7em; /* Ubah nilai lebar sesuai kebutuhan Anda */
  height: 4.7em; /* Ubah nilai tinggi sesuai kebutuhan Anda */
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: -2px;
}
.card-before img,
.card-after img {
  width: 60.04px;
  height: 84.6942813px;
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 90%;
  height: 118%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}
.card-before {
  background-image: url('img/logo.svg'); /* Ganti 'gambar.jpg' dengan path/URL gambar Anda */
  background-size: cover; /* Untuk menyesuaikan ukuran gambar dengan ukuran elemen */
  background-repeat: no-repeat; /* Agar gambar tidak diulang */
  font-size: 2.8em; /* Ukuran font */
  font-weight: 600; /* Ketebalan font (bold) */
}
.card-after {
  background-color: black;
  transform: rotateY(180deg);
}
.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}
.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url('img/bgpajama.png'); /* Ganti 'gambar.jpg' dengan path/URL gambar Anda */
  background-size: cover; /* Untuk menyesuaikan ukuran gambar dengan ukuran elemen */
  background-position: center;
  background-repeat: no-repeat; /* Agar gambar tidak diulang */
  top: 0;
}
button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}
#stop {
  font-size: 0.8em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
  margin-top: 4em;
}
#start {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
      transition: opacity 0.9s ease; /* Tambahkan transisi untuk opacity */
  background-color: rgb(0, 0, 0, 0.4);
  color: #efefef;
}
#start:hover {
      cursor: pointer;
}
/* Reset default select styles */
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: rgb(0, 0, 0, 0.9);
   background-image: none;
   flex: 1;
   padding: 0 1em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: "Montserrat", sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
   color: white;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
  color: #e49a04;
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  25% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}


.card-container.flipped .card-before {
    transform: perspective(1000px) rotateY(-180deg);
}

.card-container.flipped .card-after {
    transform: perspective(1000px) rotateY(0deg);
}

#easy-button, #medium-button, #hard-button {
      transition: opacity 0.9s ease; /* Tambahkan transisi untuk opacity */
  background-color: rgb(0, 0, 0, 0.4);
  color: #efefef;
  font-size: 14px;
  margin: 5px;
}
#modess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#atasmode {
  margin-bottom: 20px;
  text-align: center;
  color: azure;
    filter: drop-shadow(0 0 0.75rem rgb(38, 82, 145));
      transition: opacity 1s ease; /* Tambahkan transisi untuk opacity */
}
#arrowsss {
cursor: pointer;
  color: #e49a04;
  animation: bounce 0.5s infinite;
}


@keyframes bounce {
  25% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}

#start1 {
  display: none;
}
#otherg {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
      transition: opacity 0.9s ease; /* Tambahkan transisi untuk opacity */
  background-color: rgb(0, 0, 0, 0.4);
  color: #efefef;
}

.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}
.hide {
 display: none;
}
#result {
  height: 35%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
    background-color: rgb(0, 0, 0,);
  color: #efefef;
  border-radius: 20px;
  
}
#result h2 {
  font-size: 2.5em;
    filter: drop-shadow(0 0 0.75rem rgb(38, 82, 145));
}
#result h4 {
  font-size: 1.8em;
  margin: 10px;
      filter: drop-shadow(0 0 0.75rem rgb(38, 82, 145));
}

.footer {
  text-align: center;
  font-size: 10px; /* Ukuran font untuk footer */
  position: fixed; /* Mengubah posisi menjadi tetap */
  bottom: 0; /* Meletakkan footer di bagian bawah */
  left: 0;
  right: 0;
  display: flex; /* Menggunakan flexbox */
  justify-content: center; /* Pusatkan konten secara horizontal */
  align-items: center; /* Pusatkan konten secara vertikal */
  padding: 10px; /* Beri padding untuk estetika */
}

.footer .social-media-link {
  padding-top: 20px;
  width: 40px; /* Menyesuaikan lebar gambar jika digunakan */
  height: 40px; /* Mengatur tinggi agar proporsional */
  color: #ffffff;
    transition: transform 0.5s ease-out;
}
.social-media-link:hover {
  transform: scale(1.5) translateY(-10px);
}

@import url("https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap");
body {
  margin: 0;
}
#container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fff;
  margin: 0;
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
}
.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url(snow.png);
  background-size: cover;
  animation: animationSnow 4s ease-in-out infinite;
}
@keyframes animationSnow {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(100px, 50vh);
  }
}

/* Untuk membuat konten lebih responsif di perangkat seluler */
@media only screen and (max-width: 375px) {
  .wrapper {
    width: 90%; /* Mengurangi lebar wrapper agar cocok dengan layar seluler */
    padding: 1.5em; /* Mengurangi padding agar sesuai dengan ukuran layar yang lebih kecil */
  }
  .card-container {
    width: 100%; /* Mengubah lebar kartu agar mengisi lebar layar */
  }
  .card-container.flipped .card-before, .card-container.flipped .card-after {
    width: 100%; /* Mengatur lebar kartu yang dibalik agar mengisi lebar layar */
  }
  .card-before img,
  .card-after img {
    width: 73.1428571px;
    height: 103.142857px;
  }
  .controls-container {
    padding: 10px;
  }
  #stop {
    font-size: 0.4em;
  }
  .footer {
    font-size: 12px;
  }
}

